    
	<div class='column'>
	    <h2 class="topic-list-header">Updates from the Community</h2>
	        {{topic-list
		      highlightLastVisited=true
		      top=top
		      showPosters=true
		      category=category
		      topics=topics
		      discoveryList=true}}
	</div>