<div class='categories'>
	<div class="category-boxes">
      <div class="category-box category" style="border-color: #FFC857">
  			<div class="category-box-inner">
          <div class="category-box-heading">
          	<h3><a href="/c/get-started" class="parent-box-link">Getting started</a></h3>
          </div>
          <p>Introduce yourself, meet other members, read the community guidelines, and learn about the platform.</p>
	      </div>
	    </div>
      <div class="category-box category" style="border-color: #048A81">
  			<div class="category-box-inner">
          <div class="category-box-heading">
          	<h3><a href="https://forum.rebus.community/c/open-textbooks-in-development/10" class="parent-box-link">Open Textbook Directory</a></h3>
          </div>
    			  <p>Start an open textbook project, browse in-progress open textbooks, and share new releases.</p>
	      </div>
	    </div>
      <div class="category-box category" style="border-color: #3BCEAC">
  			<div class="category-box-inner">
          <div class="category-box-heading">
          	<h3><a  href="/c/opc" class="parent-box-link">Open Publishing Certificate</a></h3>
          </div>
    			  <p>Learn about our professional development certificate course for OER creation teams.</p>
	      </div>
	    </div>
      <div class="category-box category" style="border-color: #37B5B5">
  			<div class="category-box-inner">
          <div class="category-box-heading">
          	<h3><a href="/tag/cfp" class="parent-box-link">Contributor Marketplace</a></h3>
          </div>
    			  <p>Post or respond to calls for authoring, editing, reviewing, and more. Brainstorm about new open textbook projects.</p>
	      </div>
	    </div>
      <div class="category-box category" style="border-color: #F5A623">
  			<div class="category-box-inner">
          <div class="category-box-heading">
          	<h3><a href="/c/help-questions" class="parent-box-link">Help &amp; Questions</a></h3>
          </div>
    			  <p>Give and receive advice about publishing open textbooks and OER in general. Post questions or feedback about the platform.</p>
	      </div>
	    </div>
      <div class="category-box category" style="border-color: #CD4B18">
  			<div class="category-box-inner">
          <div class="category-box-heading">
          	<h3><a href="/c/news-discussion-events" class="parent-box-link">News, Discussion, Events</a></h3>
          </div>
    			 <p>Share your announcements, news, and upcoming events. Start a discussion on the OER theme of your choice.</p>
	      </div>
	    </div>
	  </div></div>
	  	<div class='column'>
	    <h2 class="topic-list-header">Updates from the Community</h2>
	        {{topic-list
		      highlightLastVisited=true
		      top=top
		      showPosters=true
		      category=category
		      topics=topics
		      discoveryList=true}}
	</div>