<div class="rebus-component-footer">
        <div class="newsletter-signup">
            <h1>Get Involved</h1>
            <p>Please sign up to our Newsletter below, or take a look at some of things we are working on.</p>
            <div id="mc_embed_signup">
                <form action="https://community.us14.list-manage.com/subscribe/post?u=50dd93abe48d45664131ca680&amp;id=c42869f96a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter-form" target="_blank" novalidate="">
                    	<input value="" name="EMAIL" class="required email" id="mce-EMAIL" type="email">
                    	<input value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button" type="submit">
                </form>
            </div>
        </div>
        <div class="footer-content">
        <h1><img src="https://rebus.community/wp-content/uploads/2019/03/cropped-rebus_community_horizontal-1.png" alt="Rebus Community" id="site-logo" class="logo-big"></h1>
          <div id="ember40" class="ember-view"><!----><ul><li><a href="https://about.rebus.community">about</a></li><li><a href="https://about.rebus.community/news/">news</a></li><li><a href="https://about.rebus.community/contact/">contact</a></li><li><a href="c/help-questions/site-feedback-technical-questions">help</a></li></ul></div>
            <div class="footer-community-links">
                <div class="footer-links">
                    <a href="https://www.youtube.com/channel/UC1bXNhf66CdCqWWYtE5L0-A">
                        <svg class="fab d-icon d-icon-youtube svg-icon svg-node" aria-hidden="true">
                            <use xlink:href="#fab-youtube"></use>
                        </svg>
                    </a>
                    <a href="https://facebook.com/RebusFoundation">
                        <svg class="fab d-icon d-icon-facebook svg-icon svg-node" aria-hidden="true">
                            <use xlink:href="#fab-facebook"></use>
                        </svg>
                    </a>
                    <a href="https://twitter.com/rebuscommunity">
                        <svg class="fab d-icon d-icon-twitter svg-icon svg-node" aria-hidden="true">
                            <use xlink:href="#fab-twitter"></use>
                        </svg>
                    </a>
                    <svg class="fab d-icon d-icon-creative-commons svg-icon svg-node" aria-hidden="true">
                        <use xlink:href="#fab-creative-commons"></use>
                    </svg>
                    <svg class="fab d-icon d-icon-creative-commons-by svg-icon svg-node" aria-hidden="true">
                        <use xlink:href="#fab-creative-commons-by"></use>
                    </svg>
                </div>
                <div class="copyright-info">
                  This website is licensed under a Creative Commons Attribution 4.0 International License, except where otherwise noted.
                </div>
            </div>
        </div>
        <div class="rebus-footer-image"></div>
</div>