@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i');

$disabled: #c6c6c6;
$rebus-blue: #007ab8;
html {
  font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  font-weight: bold;
}

// Buttons

.btn, .btn-default, .discourse-no-touch .btn {
  background-color: #ffffff;
  border: 1px solid $tertiary;
  border-radius: 50em;
  color: $tertiary;
  font-size: 9pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  & .d-icon {
    color: $tertiary;
  }
  &:hover, &.btn-hover {
    background-color: $tertiary;
    color: #ffffff;
  }
  &[disabled] {
    background-color: $disabled;
    border: 1px solid $disabled;
    color: #ffffff;
    & .d-icon {
      color: #ffffff;
    }
  }
}

.btn-primary, .discourse-no-touch .btn-primary {
  background-color: $tertiary;
  color: #ffffff;
  & .d-icon {
    color: #ffffff;
  }
  &:hover, &.btn-hover {
    background-color: $rebus-blue;
    border: 1px solid $rebus-blue; 
  }
  &:active, &.btn-active {
    background-color: $tertiary;
    border: 1px solid $tertiary;
  }
}

.btn-danger, .discourse-no-touch .btn-danger {
  background-color: $danger;
  border: 1px solid $danger;
  color: #ffffff;
  & .d-icon {
    color: #ffffff;
  }
  &:hover, &.btn-hover {
    border: 1px solid $tertiary;
  }
}


// Post Controls
nav.post-controls button.create {
  .d-icon-reply, &.d-hover .d-icon-reply.d-hover{
    color: $tertiary;
   }
   .d-button-label {
     color: $primary;
   }
}

// Topic Footer Buttons

#topic-footer-buttons .create .d-icon { display: none; }

// Topic List

#list-area .topic-list {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.10);
  box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.10);
  thead {
    background-color: #003e5d;
    border-radius: 10px;
    text-transform: uppercase;
    th {
      color: #ffffff;
      letter-spacing: 1px;
    }
  }
  thead th:first-child {
    border-radius: 10px 0 0 0;
  }
  thead th:last-child {
    border-radius: 0 10px 0 0;
  }
  tbody {
    border-top: none;
  }
  tbody .topic-list-item:last-child {
    border-bottom: none;
  }
}
