@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i');

$disabled: #c6c6c6;
$rebus-blue: #007ab8;
html {
  font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Serif', serif;
  font-weight: bold;
}

// Buttons

.btn, .btn-default, .discourse-no-touch .btn {
  background-color: #ffffff;
  border: 1px solid $tertiary;
  border-radius: 50em;
  color: $tertiary;
  font-size: 9pt;
  letter-spacing: 1px;
  text-transform: uppercase;
  & .d-icon {
    color: $tertiary;
  }
  &:hover, &.btn-hover {
    background-color: $tertiary;
    color: #ffffff;
  }
  &[disabled] {
    background-color: $disabled;
    border: 1px solid $disabled;
    color: #ffffff;
    & .d-icon {
      color: #ffffff;
    }
  }
}

.btn-primary, .discourse-no-touch .btn-primary {
  background-color: $tertiary;
  color: #ffffff;
  & .d-icon {
    color: #ffffff;
  }
  &:hover, &.btn-hover {
    background-color: $rebus-blue;
    border: 1px solid $rebus-blue;
  }
  &:active, &.btn-active {
    background-color: $tertiary;
    border: 1px solid $tertiary;
  }
}

.btn-danger, .discourse-no-touch .btn-danger {
  background-color: $danger;
  border: 1px solid $danger;
  color: #ffffff;
  & .d-icon {
    color: #ffffff;
  }
  &:hover, &.btn-hover {
    border: 1px solid $tertiary;
  }
}


// Post Controls
nav.post-controls button.create {
  .d-icon-reply, &.d-hover .d-icon-reply.d-hover{
    color: $tertiary;
   }
   .d-button-label {
     color: $primary;
   }
}

// Topic Footer Buttons

#topic-footer-buttons .create .d-icon { display: none; }

// Topic List

#list-area .topic-list {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.10);
  box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.10);
  thead {
    background-color: #f3f1f2;
    border-radius: 10px;
    text-transform: uppercase;
    th {
      color: #000000;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  thead th:first-child {
    border-radius: 10px 0 0 0;
  }
  thead th:last-child {
    border-radius: 0 10px 0 0;
  }
  tbody {
    border-top: none;
  }
  tbody .topic-list-item:last-child {
    border-bottom: none;
  }
}

// Header Menu

#nav-link-container {
    display: inline;

    li{
        display: inline-block;
        float: left;
    }

    a {
        color: $header_primary;
        padding: 23px 25px;
        text-decoration: none;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 765px){
    #nav-link-container {
        display: none;
    }
}

// Rebus Header

.rebus-header .header-wrapper {
  margin-bottom: -350px;
  @media screen and (min-width: 1760px) {
    margin-bottom: -550px;
  }
  @media screen and (min-width: 2260px) {
    margin-bottom: -425px;
  }
  .header-image {
    background-image: url($blue-background);
    background-repeat: no-repeat;
    background-size: cover, 400px;
    display: block;
    height: 700px;
    position: relative;
    opacity: .7;
    top: -150px;
    z-index: -1;
    @media screen and (min-width: 1760px) {
      background-position: 0 -200px;
      background-size: cover, 900px;
      height: 900px;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -500px;
    z-index: 10;
    @media screen and (min-width: 1760px) {
      top: -700px;
    }
    .info-column {
      width: 53%;
      h1 {
        font-size: 30pt;
      }
    }
    .cta-column {
      position: relative;
      text-align: center;
      top: -30px;
      width: 30%;
      p {
        font-size: 14pt;
        font-weight: bold;
      }
      .btn {
	font-weight: bold;
        height: 50px;
	line-height: 36px;
	margin: 0 0 10px 0;
	width: 240px;
      }
      .btn-cta-primary {
        background-color: #016599;
	border: 1px solid #016599;
	color: #ffffff;
      }
      .btn-cta-secondary {
        background-color: #ffffff;
	border: 1px solid #ffffff;
	color: #016599;
      }
    }
  }
}

// Category Headers
body.category-header[class*="category-"]{
  background-attachment: scroll;
  background-repeat: no-repeat;
    background-position: 0 -175px;
    background-size: cover, 400px;
    height: 400px;
  @media screen and (min-width: 768px) {
    background-position: 0 -375px;
  }
  @media screen and (min-width: 2560px) {
    background-position: 0 -600px;
  }
}
div[class^="category-title-header"] {
  padding-top: 60px;
  display: flex;
  margin-bottom: 175px;
  width: 100%;
  .category-title-contents {
    padding: 40px 40px 30px;
    position: relative;
    left: 150px;
    top: 50px;
    max-width: calc(100vw - 300px);
    .category-title-description {
      font-size: 12pt;
    }
    svg {
      height: 1.5em;
      width: 1.1em;
      margin-right: .25em;
    }
    h1 {
      font-size: 32pt;
      text-transform: capitalize;
      display: inline;
    }
  }
}
.category-header {
 #main-outlet {
     padding-top: 20px;
 }
}

// Category Boxes

.categories-and-latest, #header-list-area {
    .category-boxes {
        .category-box {
            border-radius: 5px;
            -webkit-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.10);
            -moz-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.10);
            box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.10);
            border-left-width: 0px;
            border-top-width: 10px;
            display: block;
            height: 200px;
            padding: 35px 20px;
            width: 31%;
            h3 {
                font-family: 'Nunito Sans', sans-serif;
                font-size: 12pt;
                letter-spacing: 1px;
                text-transform: uppercase;
                a { color: #000000;}
            }
            p { text-align: center; }
	    .category-box-inner {
	        border: none;
		padding: 0;
	    }
	    .description {
	        color: #000000;
	    }
        }
    }
}

// Rebus Footer

.rebus-footer{
    .rebus-footer-image{
        background-image: url($blue-background);
        background-repeat: no-repeat;
        background-size: cover;
        height: 325px;
        position: relative;
        opacity: .5;
        transform: rotate(180deg);
        background-position-y: 117%;
        top: 10px;
        width: 100%;
    }

  .newsletter-signup{
      @media only screen and (max-width: 1223px) and (min-width: 800px){
         margin-bottom: -278px !important;
      }
      @media only screen and (max-width: 799px){
         margin-bottom: -297px !important;
         .newsletter-form{
            text-align: -webkit-center;
            button{
                width: 83% !important;
            }
            input{
                width: 100% !important;
            }
         }
      }

      margin: auto;
      width: 40%;
      padding: 38px 45px 38px 45px;
      border-radius: 12px;
      font-family: 'Nunito Sans', sans-serif;
      z-index: 1;
      background-color: white;
      margin-bottom: -169px;
      position: relative;
      box-shadow: 0px 0px 8px 0px;

      h1{
        font-family: 'Nunito Sans', sans-serif;
      }
      p{
        font-size: 12pt;
      }
      .newsletter-form{
          input{
              width: 64%;
              border-radius: 3px;
              padding: 12px 0 13px 0;
              margin-right: 2%;
          }
          button{
              width: 32%;
              padding: 14px 0 14px 0;
              border: 1px solid #cd4b18;
              border-radius: 50em;
              font-size: 11pt;
              letter-spacing: 1px;
              text-transform: uppercase;
              background-color: #cd4b18;
              color: #ffffff;
          }
          button:hover{
              background-color: white;
              color: #cd4b18;
          }
      }
  }

  .footer-content{
      top: 215px;
      z-index: 1;
      position: relative;
      @media only screen and (max-width: 1412px) and (min-width: 1224px){
          h1{
            padding: 0 1% 0 3% !important;
          }

          ul li{
            padding: 0 3% 0 3% !important;
          }
      }

      @media only screen and (max-width: 1223px) and (min-width: 800px){
          text-align: -webkit-center;
          top: 309px;
          padding-top: 12px !important;
          h1{
            padding: 0 !important;
            float: unset !important;
          }
          ul{
            padding-left: 13%;
            li{
             padding: 0 6% 0 6% !important;
            }
          }

          .footer-community-links{
            float: unset !important;
            margin-top: 46px;
          }
      }

      @media only screen and (max-width: 799px){
          text-align: -webkit-center;
          top: 319px !important;
          h1{
            padding: 0 !important;
            float: unset !important;
          }

          ul li{
            float: unset !important;
            padding: 0 !important;
          }

          .footer-community-links{
            float: unset !important;
            margin-top: 46px;
          }
      }

      h1{
        float: left;
        padding: 0 1% 0 7%;
      }

      ul{
        font-weight: bolder;
        padding-top: 10px;
        list-style-type: none;
        margin: 0;
        li{
            padding: 0 4% 0 4%;
            float: left;
        }
      }
      .footer-community-links{
          width: 219px;
          font-size: 12px;
          float: left;
          text-align: center;

          .footer-links{
              svg{
                color: #cc4b19;
                padding: 0px 7px 6px;
                height: 20px;
                width: 20px;
              }
              svg:nth-child(3){
                padding-right: 36px;
              }
          }
      }
  }
}
